.config/*
# * Ignore all files in the .config directory except the following:
!.config/hypr
!.config/kitty
!.config/nvim
!.config/wofi
!.config/swappy
!.config/waybar
!.config/wofi
!.config/starship.toml
!.config/btop/btop.conf
!.librewolf/
