.config/*
# * Ignore all files in the .config directory except the following:
!.config/kitty
!.config/nvim
!.config/swappy
!.config/waybar
!.config/niri
!.config/starship.toml
!.config/btop/btop.conf
!.config/fuzzel
!.config/flameshot
!.config/swaylock
!.config/eww