.bar {
  font-size: 14px;
  min-height: 30px;
  background-color: transparent;
  font-weight: 600;  
}

.center-piece {
  color: #7fc8ff;
}

.btn {
  background-color: #000000;
}

.clock { 
  border-radius: 0 0 0 15px;
}

.calendar{
  border-radius: 0 0 15px 0;
}