.bar {
  font-size: 14px;
  background-color: transparent;
  font-weight: 600;    
}

.systray {
  padding: 0 15px 0 20px;
  background-color: #000000;
  border-bottom-right-radius: 15px;
}

.center-piece {
  color: #7fc8ff;  
}

.btn {
  background-color: #000000;
}

.clock { 
  border-radius: 0 0 0 15px;
}

.calendar{
  border-radius: 0 0 15px 0;
}